<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for(@tier) do |f| %>
      <%= render 'layouts/error_messages' %>
      <div class="field">
        <%= f.label :label %><br>
        <%= f.text_field :label, :maxlength => 40 %>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_field :description, :maxlength => 255 %>
      </div>
        <div class="field date">
          <%= f.label :available %>
          <%= f.datetime_select :available %>
        </div>
      <div class="actions">
        <%= f.submit "Update", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>