<div class="row">
  <div class="col-md-2 sortable right">Sort by</div>
  <div class="col-md-2 sortable"><%= sortable 'label' %></div>
  <div class="col-md-2 sortable"><%= sortable 'occupancy' %></div>
  <div class="col-md-2 sortable"><%= sortable 'quantity' %></div>
  <div class="col-md-2 sortable"><%= sortable 'price' %></div>
  <div class="col-md-2 sortable">&nbsp;</div>
</div>
<%= paginate @lodgings, remote: true %>
<div class="row">
  <% @lodgings.each do |l| %>
    <div class="col-md-11 col-md-offset-1 accommodation">
      <div class="col-md-10">
        <div class="row heading">
          <% if (l.building.building_type.label.eql?('Cabin')) %>
            <span class="buildinglabel"><%= "#{l.building.label}"%></span>
            <span class="cabinlabel"><%= l.label %></span>
          <% else %>
              <span class="buildinglabel"><%= "#{l.label}"%></span>
          <% end %>
        </div>
        <div class="row details">
          <div class="row"><%= l.description %></div>
          <div class="row">
            <div class="col-md-2">Occupancy:</div>
            <div class="col-md-3"><%= l.occupancy %></div>
          </div>
          <div class="row">
            <div class="col-md-2">Bathroom:</div>
            <div class="col-md-3"><%= l.bathroom.eql?(true) ? 'yes' : 'no' %></div>
          </div>
          <div class="row">
            <div class="col-md-2">Kitchen:</div>
            <div class="col-md-3"><%= l.kitchen.eql?(true) ? 'yes' : 'no' %></div>
          </div>
          <div class="row">
            <div class="col-md-2">Air Conditioner:</div>
            <div class="col-md-3"><%= l.air_conditioning.eql?(true) ? 'yes' : 'no' %></div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-right">
        <div class="book">
          <div class="price"><%= number_to_currency l.price %></div>
          <div class="quantity"><%= l.quantity %> available</div>
          <%= conditional_link_to 'book!', accommodation_path(l), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <%= paginate @lodgings, remote: true %>
</div>
