<% if !@lodgings.blank? %>
  <div class="row">
    <div class="col-md-2 sortable right">Sort by</div>
    <div class="col-md-2 sortable"><%= sortable 'label' %></div>
    <div class="col-md-2 sortable"><%= sortable 'occupancy' %></div>
    <div class="col-md-2 sortable"><%= sortable 'price' %></div>
    <div class="col-md-2 sortable">&nbsp;</div>
  </div>
  <%= paginate @lodgings, remote: true %>
<% end %>
<div class="row">
  <% @lodgings.each do |l| %>
    <div class="col-md-8 col-md-offset-1 accommodation">
      <div class="col-md-6">
        <div class="row heading">
          <% if (l.building.building_type.label.eql?('Cabin') || l.building.building_type.label.eql?('Lodge')) %>
            <span class="buildinglabel"><%= "#{l.building.label}"%></span>
            <span class="cabinlabel"><%= l.label %></span>
            <% if (!l.building.image.nil?) %>
              (<a href="<%= l.building.image %>" target="_blank">building diagram</a>)
            <% end %>
          <% else %>
              <span class="buildinglabel"><%= "#{l.label}"%></span>
          <% end %>
        </div>
        <div class="row details">
          <div class="row"><%= l.description %></div>
          <div class="row">
            <div class="col-md-3 right">Occupancy:</div>
            <div class="col-md-3"><%= l.occupancy %></div>
          </div>
          <div class="row">
            <div class="col-md-3 right">A/C:</div>
            <div class="col-md-3"><%= l.air_conditioning.eql?(true) ? 'yes' : 'no' %></div>
          </div>
          <div class="row">
            <div class="col-md-3 right">Bathroom:</div>
            <div class="col-md-3"><%= l.bathroom.eql?(true) ? 'yes' : 'no' %></div>
          </div>
          <div class="row">
            <div class="col-md-3 right">Kitchen:</div>
            <div class="col-md-3"><%= l.kitchen.eql?(true) ? 'yes' : 'no' %></div>
          </div>
        </div>
      </div>
      <% if (quantity_available?(l) > 0) %>
        <div class="col-md-3 text-right accommodationhighlight">
          <div class="book">
            <div class="price"><%= number_to_currency l.price %></div>
            <div class="quantity"><%= quantity_available?(l) %> available</div>
            <% if can_book(l) %>
                <%= button_to 'book!', {:controller => 'reservations', :action => "create", :accommodation_id => l.id }, :method => :post, class: 'btn btn-primary'  %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if l.reservation.exists? %>
        <div class="col-md-3 accommodationhighlight">
          <div class="reservation">
            <div class="title">Already in this room</div>
            <% l.reservation.each do |r| %>
              <div class="roommies"><%= r.user.name %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @lodgings.blank? %>
    No results
  <% end %>
</div>
<div class="row">
  <%= paginate @lodgings, remote: true %>
</div>
