<div class="title"><h3>Lodging</h3></div>
  <div class="row">
    <div class="col-md-10">
      <%= form_tag accommodations_path, :remote => true, :method => 'get', :id => 'accommodations_search' do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="field">
          <%= text_field_tag :search, params[:search], :class => 'same-line' %>
          <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary same-line' %>
          <%= link_to "clear", accommodations_path, :class => 'clear' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="accommodations"><%= render 'accommodations' %></div>
    </div>
  </div>
</div>
