
<% if logged_in? %>
    <%= render 'layouts/status' %>
<% end %>

<div class="row">
  <%= form_tag accommodations_path, :remote => true, :method => 'get', :id => 'accommodations_search' do %>
    <div class="col-md-6 col-md-offset-2">
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= text_field_tag :search, params[:search] %>
    </div>
    <div class="col-md-4">
      <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary same-line' %>
      <%= link_to "clear", accommodations_path, :class => 'clear' %>
    </div>
  <% end %>
</div><!-- end search field row-->

<div class="row">

  <div class="col-md-2 leftcolumn">
    <div class="row">
      <div class="col-md-12">
        <%= form_tag accommodations_path, :remote => true, :method => 'get', :id => 'accommodations_search' do %>
          Refine by
          <div class="form-group">
            <%= check_box_tag :available, params[:available] %>
            <%= label :available, 'available', 'avaialble', class: '' %>
          </div>
          <div class="form-group">
            <%= check_box_tag :air_conditioning, params[:air_conditioning] %>
            <%= label :air_conditioning, 'air_conditioning', 'a/c', class: '' %>
          </div>
          <div class="form-group">
            <%= check_box_tag :kitchen, params[:kitchen] %>
            <%= label :kitchen, 'kitchen', 'kitchen', class: '' %>
          </div>
          <div class="form-group">
            <%= check_box_tag :bathroom, params[:bathroom] %>
            <%= label :bathroom, 'bathroom', 'bathroom', class: '' %>
          </div>
        <% end %>
      </div>
    </div><!-- end left column row -->
  </div><!-- end left column -->

  <div class="col-md-10">
<%= render 'accommodations' %>
  </div><!-- end content -->

</div><!-- end leftcolumn and results row-->
