<div class="row">
  <div class="col-md-10 col-md-offset-1 accommodation">
    <% if @reservation.user %>
      <h4><%= @reservation.user.name %></h4>
      <div class="row">
        <div class="col-md-2 col-md-offset-1">email:</div>
        <div class="col-md-3"><%= @reservation.user.email %></div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-1">phone:</div>
        <div class="col-md-3"><%= @reservation.user.phone %></div>
      </div>
    <% end %>

    <h4><%= @accommodation.label %></h4>
    <div class="row">
      <div class="col-md-11 col-md-offset-1"><%= @accommodation.description %></div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-offset-1">Occupancy:</div>
      <div class="col-xs-3"><%= @accommodation.occupancy %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-offset-1">Bathroom:</div>
      <div class="col-xs-3"><%= @accommodation.bathroom.eql?(true) ? 'yes' : 'no' %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-offset-1">Kitchen:</div>
      <div class="col-xs-3"><%= @accommodation.kitchen.eql?(true) ? 'yes' : 'no' %></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2 col-md-offset-1">A/C:</div>
      <div class="col-xs-3"><%= @accommodation.air_conditioning.eql?(true) ? 'yes' : 'no' %></div>
    </div>

    <% if @reservation.id %>
      <h4>Quantity</h4>
      <div class="row">
        <div class="col-md-3 col-md-offset-1"><%= @reservation.quantity %></div>
      </div>

      <h4>Price per</h4>
      <div class="row">
        <div class="col-md-3 col-md-offset-1"><%= number_to_currency @reservation.accommodation.price %></div>
      </div>

      <h4>Total price</h4>
      <div class="row">
        <div class="col-md-3 col-md-offset-1"><%= number_to_currency @reservation.quantity * @accommodation.price %></div>
      </div>
    <% end %>
  </div>
</div>
