<div class="row">
  <div class="title">
    It's almost yours!
  </div>
  <div class="content">
    Your reservation is on hold pending payment. If we don't receive payment by July 15th, the hold on your reservation will be released. Please be nice and send your payment in early.
  </div>
  <div class="title">
    You have asked to reserve...
  </div>
</div>
<%= render 'accommodation' %>
<div class="row">
  <div class="title">
    Now in order to keep it, you must pay us via one of these options...
  </div>
  <div class="content confirmation">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="field">
          <%= label_tag 'Payment Option 1 - PayPal' %>
          <div>
            Please complete your payment with PayPal for : <%= number_to_currency @reservation.price %>
            <!-- <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post"> --> <!-- TEST -->
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_xclick">
              <!-- <input type="hidden" name="business" value="FCNX9KTXRNJ7S"> --> <!-- TEST -->
              <input type="hidden" name="business" value="ZJJPT64U2437J">
              <input type="hidden" name="lc" value="US">
              <input type="hidden" name="item_name" value="<%= accommodation_name(@reservation.accommodation) %>">
              <input type="hidden" name="item_number" value="SKU: <%= sku(@reservation) %>">
              <input type="hidden" name="amount" value="<%= @reservation.price %>">
              <input type="hidden" name="currency_code" value="USD">
              <input type="hidden" name="button_subtype" value="services">
              <input type="hidden" name="no_note" value="1">
              <input type="hidden" name="no_shipping" value="2">
              <input type="hidden" name="rm" value="1">
              <input type="hidden" name="return" value="<%= accommodations_url %>">
              <input type="hidden" name="cancel_return" value="<%= home_url %>">
              <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            </form>

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="field">
          <%= label_tag 'Payment Option 2 - Snail Check' %>
          <div>
            <p>Please make your payment of $220 payable to CFAEA by check or money order, and send it to the following address:</p>
            <blockquote>
              <p>CFAEA
              c/o Jessica Allard<br/>
              2806 Kingsland Ave<br/>
              Oakland, CA 94619</p>
            </blockquote>
            <p>Additionally, please include the sku wa.1 in the notes on the check.</p>
            <p>A copy of this hold has also been sent to you. If you have not received this in a few minutes, please check your spam filters for a message from 'fnfcabins@gmail.com'.</p>
            <p>If you don't receive the hold email, please contact Jessica or Jette</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <div class="field">
          <%= label_tag 'Payment Option 3 - Internal Transfer' %>
          <div>
            If you expect to be due reimbursement funds from FnF for your role, please contact
            <a href="mailto:jessica.allard@gmail.com">jessica.allard@gmail.com</a>
            and we will confirm the internal transfer with finance.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
