
<div class="post">
  <h3>It's almost yours!</h3>
  Your reservation is on hold pending payment. If we don't receive payment by July 14th, the hold on your reservation will be released. Please be nice and send your payment in early.
</div>

<div class="post"><h3>You have asked to reserve...</h3></div>

<%= render 'accommodation' %>

  <div class="post">
    <h3>Now in order to keep it, you must pay us via one of these options...</h3>
    <p>
      <h4 class="red-border">Please include a note with your payment in the form of 'CABIN: xxxxx', where xxxxx is the name of your cabin/room</h4>
    </p>
    <h4>Payment Option 1 - PayPal</h4>
    <p>
      Please complete your payment with PayPal for : <%= number_to_currency @reservation.price %>
      <!-- <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post"> --> <!-- TEST -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_xclick">
        <!-- <input type="hidden" name="business" value="FCNX9KTXRNJ7S"> --> <!-- TEST -->
        <input type="hidden" name="business" value="ZJJPT64U2437J">
        <input type="hidden" name="lc" value="US">
        <input type="hidden" name="item_name" value="<%= @reservation.accommodation.label %>">
        <input type="hidden" name="item_number" value="SKU: <%= sku(@reservation) %>">
        <input type="hidden" name="amount" value="<%= @reservation.price %>">
        <input type="hidden" name="currency_code" value="USD">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="1">
        <input type="hidden" name="no_shipping" value="2">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" value="<%= accommodations_url %>">
        <input type="hidden" name="cancel_return" value="<%= home_url %>">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/x-click-but6.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
    </p>

    <h4>Payment Option 2 - Snail Check</h4>
    <p>Please make your payment of <%= number_to_currency @reservation.price %> payable to CFAEA by check or money order, and send it to the following address:</p>
    <blockquote>
      <p>CFAEA
      c/o Jenny Lee<br/>
      930 Pacific Ave. #1<br/>
      San Francisco, CA 94133</p>
    </blockquote>
    <p>Additionally, please include the sku <%= sku(@reservation) %> in the notes on the check.</p>
    <p>A copy of this hold has also been sent to you. If you have not received this in a few minutes, please check your spam filters for a message from 'fnfreservations@gmail.com'.</p>
    <p>If you don’t receive the hold email, please contact <a href="mailto:fnfreservations@gmail.com">fnfreservations@gmail.com</a></p>

    <h4>Payment Option 3 - Internal Transfer</h4>
    <p>
      If you expect to be due reimbursement from FnF for your role, please contact <a href="mailto:fnfreservations@gmail.com">fnfreservations@gmail.com</a> and we will confirm the internal transfer
    </p>
  </div>
