<h3>reservation management</h3>

<%= form_tag admin_reservations_path, :class => "navbar-farleft", :remote => true, :method => 'get', :id => 'reservations_search' do %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">search options</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-text visible-xs-block navbar-indent">Search Options</p>
    </div><!-- end navbar header -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="search-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li>
            <div class="navbar-stuff">
              <%= text_field_tag :search, params[:search] %>
            </div>
        </li>
      </ul>

      <ul class="nav navbar-nav">
        <li class="navbar-stuff">
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
            <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary same-line' %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            sort...
          </a>
          <ul class="dropdown-menu">
            <li><%= sortable 'user', 'a-z', 'asc' %></li>
            <li><%= sortable 'user', 'z-a', 'desc' %></li>
            <li><%= sortable 'accommodation', 'a-z', 'asc' %></li>
            <li><%= sortable 'accommodation', 'z-a', 'desc' %></li>
            <li><%= sortable 'quantity', 'asc', 'asc' %></li>
            <li><%= sortable 'quantity', 'desc', 'desc' %></li>
            <li><%= sortable 'price', 'asc', 'asc' %></li>
            <li><%= sortable 'price', 'desc', 'desc' %></li>
            <li><%= sortable 'paid_date', 'asc', 'asc' %></li>
            <li><%= sortable 'paid_date', 'desc', 'desc' %></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- end search nav -->
<% end %>

<div id="reservations" class="contentcolumn">
  <%= render 'reservations'%>
</div><!-- end content column-->