<h2><%= params[:category] %> post management</h2>
<div>
  <h3 class="right"><%= link_to 'new', {controller: 'posts', action: 'new', category: params[:category]}, class: 'green' %></h3>
</div>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>
      ID
    </th>
    <th>
      Title
    </th>
    <th>
      Body
    </th>
    <th>
      Actions
    </th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |p| %>
      <tr data-item-id=<%= "#{p.id}" %> class="item">
        <td>
          <%= p.id%>
        </td>
        <td>
          <%= p.title %>
        </td>
        <td>
          <%= p.body%>
        </td>
        <td>
          <%= link_to 'edit', post_path(p) %>
          <%= link_to 'delete', p, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
