<div class="post">
  <div class="title"><h3>Cabin details: 1 & 5</h3></div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("main_lodge_diagram.gif") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("cabin1.png") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("cabin5.png") %>
    </div>
  </div>
  <div class="title"><h3>Cabin details: 6 & 7</h3></div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag("cabin6.png") %>
    </div>
    <div class="col-md-6">
      <%= image_tag("cabin7.png") %>
    </div>
  </div>
  <div class="content"><a href="/files/2016Cabin12.pdf">Cabins 1 & 2 PDF map</a></div>
  <div class="content"><a href="/files/2016Cabin567.pdf">Cabins 5, 6 & 7 PDF map</a></div>
</div>
