<div class="post">
  <h3>Cabin details: Main Lodge</h3>
  <div class="row">
    <div class="col-md-12">
      <%= image_tag("mainlodge.png") %>
    </div>
  </div>
  <div class="title"><h3>Cabin details: 1 &amp; 2</h3></div>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag("cabin2.png") %>
    </div>
    <div class="col-md-6">
      <%= image_tag("cabin1.png") %>
    </div>
  </div>
  <div class="title"><h3>Cabin details: 5, 6 &amp; 7</h3></div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag("cabin7.png") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("cabin6.png") %>
    </div>
    <div class="col-md-4">
      <%= image_tag("cabin5.png") %>
    </div>
  </div>
</div>
