<div class="header">
  <% if logged_in? %>
    <div class="row headeruser">
      <div class="user">
        <%= current_user.name %><span class="gray">&nbsp|&nbsp;</span><%= link_to 'Log out', logout_path, method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="row">
      <%= link_to 'home', home_path, class: 'link link-primary' %>
    <% if !logged_in? %>
          <%= link_to 'login', login_path, class: 'link link-primary' %>
    <% end %>
      <%= link_to 'overview & pricing', overview_path, class: 'link link-primary' %>
      <%= link_to 'map', '/files/2016_Saratoga_Springs_Property_Map_CL.pdf', class: 'link link-primary' %>
      <%= link_to 'cabin details', details_path, class: 'link link-primary' %>
      <%= link_to 'rules', rules_path, class: 'link link-primary' %>
    <% if logged_in? && is_admin? %>
        <%= link_to 'admin', admin_path, class: 'link link-primary' %>
    <% end %>
  </div>
</div>
