<div class="header">
  <div class="gearhead"></div>
  <div class="row right">
    <div class="user">
      <% if logged_in? %>
        <%= current_user.name %><span class="gray">&nbsp|</span>
        <%= link_to 'profile', user_path(@current_user) %><span class="gray">&nbsp|</span>
        <%= link_to 'log out', logout_path, method: :delete %>
      <% else %>
          <%= link_to 'login', login_path %>&nbsp;|&nbsp;<%= link_to 'register', signup_path %>
      <% end %>
    </div>
  </div>
  <div class="row headerlinks">
      <%= link_to 'home', home_path, class: 'link link-primary' %>
      <%= link_to 'overview & pricing', overview_path, class: 'link link-primary' %>
      <%= link_to 'map', map_path, class: 'link link-primary' %>
      <%= link_to 'cabin details', details_path, class: 'link link-primary' %>
      <%= link_to 'rules', rules_path, class: 'link link-primary' %>
      <%= link_to 'FAQ', faq_path, class: 'link link-primary' %>
    <% if logged_in? && is_admin? %>
        <%= link_to 'admin', admin_path, class: 'link link-primary' + (is_admin_route? ? ' selected' : '')  %>
    <% end %>
  </div>
  <% if is_admin? && is_admin_route? %>
      <%= render 'layouts/admin' %>
  <% end %>
</div>
